@media all and (max-width: 1000px){
    body{
        align-items: center;
        padding: 0px;
        margin: 0 auto;
    }
    
    .calculator{
        width: 100%;
    }

    footer h1{
        padding-top: 10px;
        font-size: 25px;
    }

    footer p{
        font-size: 15px;
    }
}

@media all and (max-width: 600px){
    body{
        align-items: center;
        padding: 0px;
        margin: 0 auto;
    }
    
    .calculator{
        width: 100%;
    }

    footer h1{
        font-size: 25px;
    }

    footer p{
        font-size: 15px;
    }
}
